 <!-- Homework 1 -->
 <p>Homework 1</p>
 <button mat-icon-button (click)="setBackground()">
    <mat-icon>add_circle</mat-icon>
</button>
<mat-form-field>
    <input [(ngModel)]="selectedColor" matInput placeholder="Write color">
</mat-form-field>
<h1 [style.background]=backgroundColor>{{colorText}}</h1>

<!--Homework 2-->
<p>Homework 2</p>
<p>Date list:</p>
    <div *ngFor="let date of dates;let even=even">
        <p *ngIf="even">{{date|date:'longDate'}}</p>
    </div>
<!--Hyphen Pipe Example-->
<p>Example with{{hyphenText|hyphenString}}text</p>