.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter-div {
        margin: 10px;
    }
    
    .keyword-div{
        display: flex;
        margin:10px;
    }
}
