<h1>Add a note </h1>
<div class="add-note-form">
<form>
    <mat-form-field>
    <input
        matInput
        name="inputNote"
        [(ngModel)]="noteTitle"
         />
    </mat-form-field>
</form>
<mat-form-field>
    <textarea matInput name="inputNote" [(ngModel)]="noteDescription"></textarea>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <select matNativeControl [(ngModel)]="selectedCategory" name="category">
      <option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </option>
    </select>
  </mat-form-field>
</div>
<button mat-button (click)="addNote()" routerLink="">Add</button>
